@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .btn-primary {
      @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
    }
  } */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #757373;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00b37d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Pending Action Button - Pulse*/ 
@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #fc03a9; /* Initial glow */
  }
  50% {
    box-shadow: 0 0 20px #f752c0; /* Increased glow */
  }
  100% {
    box-shadow: 0 0 5px #fc03a9; /* Return to initial glow */
  }
}